<div class="header navbar navbar-default navbar-fixed-top">
  <!-- begin container -->
  <div class="container">
    <!-- begin navbar-header -->
    <div class="navbar-header">
      <a class="navbar-brand">
        <span>The Movie Database</span>
      </a>
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-collapse -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/actors" routerLinkActive="active">ACTORS</a></li>
        <li><a routerLink="/movies">MOVIES</a></li>
        <li><a>ABOUT ME</a></li>
      </ul>
    </div>
    <!-- end navbar-collapse -->
  </div>
  <!-- end container -->
</div>
