<div class="header navbar navbar-default navbar-fixed-top">
  <!-- begin container -->
  <div class="container">
    <!-- begin navbar-header -->
    <div class="navbar-header">
      <a class="navbar-brand">
        <span>The Movie Database</span>
      </a>
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-collapse -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>ACTORS</a></li>
        <li><a>MOVIES</a></li>
        <li><a>ABOUT ME</a></li>
      </ul>
    </div>
    <!-- end navbar-collapse -->
  </div>
  <!-- end container -->
</div>

<!-- begin #quote -->
<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true" style="margin-top: 70px">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="assets/img/quote-bg.jpg" alt="Quote" />
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container">
    <!-- begin row -->
    <div class="row">
      <!-- begin col-12 -->
      <div class="col-md-12 quote">
        The Movie Database
        <small>Diego Andrés Monsalve Tellez</small>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #quote -->
