<div class="row actor-detail">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div class="row">
      <div class="title">
        <h2>Diego Andrés Monsalve Tellez<small> Software engineer</small></h2>
      </div>
      <hr>
      <div class="col-sm-4 profile">
        <img class="img-rounded img-responsive pull-right" src="../../assets/img/profile.jpg">
      </div>
      <div class="col-sm-8">
        <div class="biography">
          Software engineer at Universidad del Valle with applied knowledge in software development, version control (GIT), SCRUM and relational datatabases design. Skills in Django framework, Angular, and programming languages such as Java, C++, Python, Javascript, and markup languages HTML, CSS.
        </div>
        <br>
        <h4>Personal information</h4>
        <div class="personal">
          <p><b>Name:</b> Diego Andrés Monsalve Tellez</p>
          <p><b>Email:</b> diegoamt.monsalve@gmail.com</p>
          <p><b>Languages: </b>Spanish(Native), English(B1), French(A1)</p>
          <hr>
          <p><i class="fa fa-linkedin fa-fw"></i><b></b> <a href="https://www.linkedin.com/in/diegoamt-monsalve/">https://www.linkedin.com/in/diegoamt-monsalve/</a></p>
          <p><i class="fa fa-github fa-fw"></i><b></b> <a href="https://github.com/diegoamt">https://github.com/diegoamt</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
