<div id="quote" class="content bg-white has-bg" data-scrollview="true" style="margin-top: 70px">
  <div class="content-bg">
    <img src="assets/img/quote-bg.jpg" alt="Quote" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 quote">
        Movies
      </div>
      <div class="col-md-12" style="margin-top: 20px">
        <input (keyup)="searchMovies($event)" class="form-control" placeholder="Search movie by name...">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="trending-items" class="section-container">
    <div class="container">
      <h4 class="section-title clearfix">
        <a (click)="getNoePlaying()" class="pull-right" style="margin-left: 5px;">Now playing</a>
        <a (click)="getUpcoming()" class="pull-right" style="margin-left: 5px;">Upcoming</a>
        <a (click)="getTopRated()" class="pull-right" style="margin-left: 5px;">Top rated</a>
        <a (click)="getPopular()" class="pull-right">Popular</a>
        {{current}} movies
      </h4>

      <div class="row row-space-10">
        <div class="col-md-2 col-sm-4" *ngFor="let movie of movies|async">
          <div class="item item-thumbnail">
            <a routerLink="movie-detail/{{movie.id}}" class="item-image">
              <img src="{{getImagePath(movie.poster_path)}}" alt="{{movie.title}}" />
              <div class="discount">{{movie.vote_average}} <i class="fa fa-star"></i></div>
            </a>
            <div class="item-info">
              <h4 class="item-title">
                <a routerLink="movie-detail/{{movie.id}}">{{movie.title}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
