<div id="quote" class="content bg-white has-bg" style="margin-top: 70px">
  <div class="content-bg">
    <img src="assets/img/quote-bg.jpg" alt="Quote" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 quote">
        Popular Actors
      </div>
      <div class="col-md-12" style="margin-top: 20px">
        <input (keyup)="searchActors($event)" class="form-control" placeholder="Search actor by name...">
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="col-md-3 col-sm-4 col-xs-5 item" *ngFor="let actor of actors|async; let i = index">
    <a routerLink="/actors/actor-detail/{{actor.id}}">
      <div class="row">
        <div class="col-xs-6">
          <img class="img-rounded img-responsive" src="{{getImagePath(actor.profile_path)}}">
        </div>
        <div class="col-xs-6">
          <h5><b>{{actor.name}}</b></h5>
          <small>{{actor.popularity}}</small> <i class="fa fa-thumbs-o-up"></i>
        </div>
      </div>
    </a>
  </div>
</div>
