<div id="quote" class="content bg-white has-bg" style="margin-top: 70px">
  <div class="content-bg">
    <img src="assets/img/quote-bg.jpg" alt="Quote" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 quote">
        Actors
      </div>
      <div class="col-md-12" style="margin-top: 20px">
        <input (keyup)="searchActors($event)" class="form-control" placeholder="Search actor by name...">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="trending-items" class="section-container">
    <div class="container">
      <h4 class="section-title clearfix">
        <a href="" class="pull-right" style="margin-left: 5px;">Lastest</a>
        <a href="" class="pull-right">Popular</a>
        Popular actors
      </h4>

      <div class="row row-space-10">
        <div class="col-md-2 col-sm-4" *ngFor="let actor of actors|async">
          <div class="item item-thumbnail">
            <a routerLink="/actors/actor-detail/{{actor.id}}" class="item-image">
              <img src="{{getImagePath(actor.profile_path)}}" alt="{{actor.name}}" />
            </a>
            <div class="item-info">
              <h4 class="item-title">
                <a routerLink="/actors/actor-detail/{{actor.id}}">{{actor.name}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
